<div id="comments" class="col-md-12 bubble">&quot;<%=message%>&quot;</div>
<div id="user" class="col-md-12">
	<div class="col-md-2 userContainer">
		<div class="sprite-icons user col-md-12"></div>
		<div class="sprite-icons flag col-md-12"></div>
	</div>
	<div class="col-md-8 nopadding">
		<div class="col-md-12 name-comment"><%=name%></div>
		<div class="col-md-12 info-comment"><%=info%></div>
		<div class="col-md-12 date-comment"><%=date%></div>
	</div>
</div>