<span class="mapTitle">Mapa</span>
<iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATR7qD1EjJdoDlyEzViGFcgZqOFNvwJjs
    &q=Space+Needle,Seattle+WA" class="mapa col-md-12 nopadding">
</iframe>