<nav class="col-md-12 nopadding">
    <ol class="breadcrumb">
        <li>
            <a href="#" title="Ir a home">Despegar.com</a>
        </li>
        <li>
            <a href="#" title="Ir a hoteles">Hoteles</a>
        </li>
        <li>
            <a href="#" title="Ir a Hoteles en cuba">Hoteles en cuba</a>
        </li>
        <li class="active">Hoteles en Rio de Janeiro</li>
    </ol>
</nav>
<header class="col-md-12 divtitle">
    <span class="text-element title">110 Hoteles en Rio de Janeiro, Brasil</span>
</header>
<section class="col-md-12 search">
  <div class="col-md-7 searchcontainer">
      <form class="form-container">
        <div class="subgrid">
          <div class="row">
            <div class="col-md-12">
              <span class="text-element searchTitle">Buscar hoteles en Rio de Janeiro, Brasil</span>
            </div>
          </div>
          <div class="row searchdata">
            <div class="col-md-12 data">
                <div class="col-md-1 nopadding">
                  <label class="searchLabel">Ciudad</label>
                </div>
                <div class="col-md-11"><input value="" name="ciudad" type="text" class="searchInput" id="ciudad">
                </div>
            </div>
            <div class="col-md-12 data">
            <div class="col-md-1 nopadding">
              <label class="searchLabel">Entrada</label>
            </div>
            <div class="col-md-11">
                <input class="date" type="date" name="entrada" />
            </div>
            </div>
            <div class="col-md-12 data">
            <div class="col-md-1 nopadding">
              <label class="searchLabel">Salida</label>
            </div>
            <div class="col-md-11">
                <input class="date" type="date" name="salida" />
            </div>
            </div>
            <div class="col-md-12 data">
            <div class="col-md-1 nopadding">
              <label class="searchLabel">Cantidad</label>
            </div>
            <div class="col-md-11">
                <select class="amount">
                    <option>1 habitaci&oacute;n</option>
                    <option>2 habitaci&oacute;n</option>
                    <option>3 habitaci&oacute;n</option>
                    <option>4 habitaci&oacute;n</option>
                </select>
            </div>
            </div>
            <div class="col-md-12">
            <div class="col-md-1 nopadding">
              <label class="smallSearchLabel">huéspedes</label>
            </div>
            <div class="col-md-2">
              <label class="searchLabel superior">Adultos</label><select class="listbox list-box-1"><option>1</option><option>2</option><option>3</option></select>
            </div>
            <div class="col-md-2">
              <label class="searchLabel superior">Menores</label><select class="listbox list-box-1"><option>1</option><option>2</option><option>3</option></select>
            </div>
            <div class="col-md-7">
              <div class="sprite-mejor_precio" ></div>
              <div class="sprite-buscar" ></div>
            </div>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="col-md-5 bannerhome radius">
      <img class="banner" src="/images/bannerhome.png" />;
  </div>
</section>
<div class="col-md-12 nopadding">  
  <section class="col-md-8 nopadding">
      <div>
        <div class="divtitle">
            <span class="text-element title">Listado de hoteles en Rio de Janeiro, Brasil</span>
        </div>
        <div class="" id="container"></div>
        <nav class="col-md-12 text-center">
          <ul class="pagination">
            <li class="disabled"><a href="#" >1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li class="active"><a href="#">4</a></li>
            <li class="active"><a href="#">5</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li class="active"><a href="#">279</a></li>
            <li class="next"><a href="#" ><span>Siguiente »</span></a></li>
          </ul>
        </nav>
    </div>
  </section>
  <aside class="aside col-md-4" id="aside">
    <div id="map"></div>
    <div id="comments"></div>
    <div id="star" class="col-md-12 stars-aside">
      <div class="row">
        <div class="col-md-12">
          <div class="row row-stars-aside">
            <div class="col-md-6 hotel-star"><a href="#">Hoteles 5 estrellas</a></div>
            <div class="col-md-6 stars-aside-image sprite-icons stars5"></div>
          </div>
          <div class="row row-stars-aside">
            <div class="col-md-6 hotel-star"><a href="#">Hoteles 4 estrellas</a></div>
            <div class="col-md-6 stars-aside-image sprite-icons stars4"></div>
          </div>
          <div class="row row-stars-aside">
            <div class="col-md-6 hotel-star"><a href="#">Hoteles 3 estrellas</a></div>
            <div class="col-md-6 stars-aside-image sprite-icons stars3"></div>
          </div>
          <div class="row row-stars-aside">
            <div class="col-md-6 hotel-star"><a href="#">Hoteles 2 estrellas</a></div>
            <div class="col-md-6 stars-aside-image sprite-icons stars2"></div>
          </div>
          <div class="row row-stars-aside">
            <div class="col-md-6 hotel-star"><a href="#">Hotel 1 estrella</a></div>
            <div class="col-md-6 stars-aside-image sprite-icons stars1"></div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
<footer class="col-md-12 nopadding">
  <div class="row footer-table">
    <div class="col-md-12">
      <div class="footer-title">Hoteles</div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en M&eacute;xico</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Rio de Janeiro</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Puerto Vallarta</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
      </div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Ciudad de M&eacute;xico</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Caba&ntilde;a en Rio de Janeiro</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Acapulco</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
      </div>
    </div>
  </div>
    <div class="row footer-table">
    <div class="col-md-12">
      <div class="footer-title">Hoteles</div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en M&eacute;xico</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Rio de Janeiro</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Puerto Vallarta</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
      </div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Ciudad de M&eacute;xico</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Caba&ntilde;a en Rio de Janeiro</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Acapulco</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
      </div>
    </div>
  </div>
  <div class="row footer-table">
    <div class="col-md-12">
      <div class="footer-title">Hoteles</div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en M&eacute;xico</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Rio de Janeiro</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Puerto Vallarta</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Chihuahuav</div>
      </div>
      <div class="row">
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Ciudad de M&eacute;xico</a></div>        
        <div class="col-md-2 footer-cell"><a href="#">Caba&ntilde;a en Rio de Janeiro</a></div>        
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Acapulco</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
        <div class="col-md-2 footer-cell"><a href="#">Hoteles en Cuernavaca</a></div>
      </div>
    </div>
  </div>
</footer>