$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body{
  padding: 100px ;
  background-color: #e5e5e5 ;
}

header{
  margin-top: 10px;
}

  .nopadding{
    padding-left:0;
    padding-right:0;
  }

.radius{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.cuerpo{
  background-color: WHITE;
  padding: 0 20px 20px 20px !important;
}

.breadcrumb{
  background-color: transparent;
  margin : 0;
  padding-bottom: 0px;
  padding-left: 0px;
}

div.hotel{
    border: groove !important;
    border-radius: 4px !important;
    margin-bottom: 10px !important;

}

input.date{
    width: 120px;
    height: 30px;
}

select.amount{
    width: 120px;
    height: 30px;
}

.divtitle{
  background-color: #e5e5e5;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 10px;
}

.bannerhome{
    padding-left: 20px ;
    height: 330px;
}

img.banner{
  height: 330px;
  width: 100%;
}

.sprite-buscar{
    background: url(../images/csg-5469befa731f3.png) no-repeat top left; 
    background-position: 0 0; width: 112px; height: 42px;
    width: 112px!important;
    height: 43px!important;
    display: block;
    margin-left: 65%;
} 
.sprite-disponibilidad{ 
    background: url(../images/csg-5469befa731f3.png) no-repeat top left; 
    background-position: 0 -92px; 
    width: 136px; 
    height: 35px;
    margin-left: 10px;
}

.sprite-mejor_precio{ 
    border:0;
    background: url(../images/csg-5469befa731f3.png) no-repeat top left; 
    background-position: 0 -177px; 
    width: 55px; 
    height: 55px;
    display: block;
    margin-right: 0;
    margin-left: 73%;
    padding-top: 0; 
} 

/* Image Elements */
img.hotel {
  padding: 20px 0 20px 0;
}

/* Layout Elements */

.searchdata > [class*='col-md-'] {
  min-height: 30px;
}

  /* Text Elements */

  span.text-element.text-1 {
    color: #aaa;
    display: block;
  }

  span.text-element.text-2 {
    color: #0f146b;
    font-size: 17px;
    display: block;
  }

  span.text-element.text-3 {
    color: #0f1d6b;
    font-size: 13px;
    display: block;
  }

  span.text-element.text-4 {
    text-align: center;
    font-size: 12px;
    display: block;
    padding-top: 20px;
  }

  span.text-element.text-5 {
    text-align: center;
    font-size: 27px;
    display: block;
    padding-bottom: 20px;
  }

  a.link-text.hotel-title {
    color: #319fda;
    font-size: 18px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.7;
  }

  a.link-text.verMapa {
    color: #319fda;
    font-size: 12px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.7;
  }

  a.link-text.text-link-2 {
    color: #319fda;
    font-size: 15px;
  }

  /* Layout Elements */
  .characteristics {
    padding: 20px 0 0 0;
    display: block;
    float: left;
    clear: none;
    margin-right: 0;
  }

  .comunity {
    padding: 20px 0 0 0;
  }

  .price {
    background: -webkit-linear-gradient(bottom, yellow , white);
    background: -o-linear-gradient(bottom, yellow, white);
    background: -moz-linear-gradient(bottom, yellow, white);
    background: linear-gradient(to bottom, yellow , white);
  }

    /*     SEARCH SECTION        */
    .search{
      padding: 0 0 20px 0;
    }

     .searchcontainer{
        height: 330px;
        background-color: YELLOW;
        border: 1px solid YELLOW;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 10px 10px 10px 20px;
    }

    span.text-element.title {
        top: 25%;
        margin-left: 2%;
        position: relative;
        color: #3e2899;
        font-size: 18px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    span.text-element.searchTitle {
      color: #3e2899;
      font-size: 18px;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    input[type=text].searchInput {
      display: inline;
      width: 79%;
      text-indent: 0;
      letter-spacing: 0;
      font-size: 18px;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    select.listbox.list-box-1 {
      width: 56px;
      height: 30px;
    }

    label.searchLabel {
      font-size: 14px;
      font-weight: normal;
      padding-left: 0px;
      padding-right: 0;
      color: #3e2899;
      text-align: center;
      text-transform: capitalize;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    .superior{
      margin-top: 15px;
      margin-bottom: 0;
    }

    label.smallSearchLabel {
      margin-top: 43px;
      color: #04020d;
      text-align: center;
      text-transform: capitalize;
      font-size: 10px;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    .data{
      margin-top: 5px;
    }